*.orig
#Ignore PyCharm files
.idea/

#ignore environment
env/

#ignore native
src/quixstreams/native/
tests/quixstreams/manual/certificates/

#ignore build results
build/
dist/
*egg-info
**/__pycache__/**
tests/state-files/