*.orig
#Ignore PyCharm files
.idea/

#ignore environment
env/

#ignore native
src/quixstreams/native/
tests/quixstreams/manual/certificates/
tests/quixstreams/manual/state/test/**
**/debuglogs_**

#ignore build results
build/
dist/
*egg-info
**/__pycache__/**
tests/state-files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class