.DS_Store

certificates/

#Ignore PyCharm files
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache

# coverage reports
.coverage

#ignore environment
env/
venv/

#ignore build results
/build/
dist/
*egg-info
**/__pycache__/**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#direnv
.direnv/
.envrc
