site_name: Quix Docs
site_description: Quix Streams Documentation
repo_url: https://github.com/quixio/quix-streams/
edit_uri: tree/main

theme:
  name: material

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

exclude_docs: |
  build/*

nav:
  - 'Introduction': '../quix-streams-intro.html'
  - Example Applications: example.md
  - Defining your Streaming Pipeline: streamingdataframe.md
  - Serialization: serialization.md
  - Stateful Processing: stateful-processing.md
  - Working with Quix:
    - Using the Platform: quix-platform.md
    - Upgrading from QuixStreams v0.5: upgrading-legacy.md
  - API Docs:
    - Application: api-reference/application.md
    - StreamingDataFrame & Series: api-reference/dataframe.md
    - Topics & Serializers: api-reference/topics-serdes.md
    - Quix Platform API: api-reference/quix-platform-api.md
    - Full Reference: api-reference/quixstreams.md
