site_name: Quix Docs
site_description: Quix Streams Documentation
repo_url: https://github.com/quixio/quix-streams/
edit_uri: tree/main

theme:
  name: material
  features:
    - navigation.path
    - navigation.indexes

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true


exclude_docs: |
  build/*

nav:
  - Introduction: 'introduction.md'
  - Quickstart: 'quickstart.md'
  - Tutorials:
    - 'tutorials/README.md'
    - Word Count: 'tutorials/word-count/tutorial.md'
    - Anomaly Detection: 'tutorials/anomaly-detection/tutorial.md'
    - Purchase Filtering: 'tutorials/purchase-filtering/tutorial.md'
  - How to:
    - Produce Data to Kafka: producer.md
    - Process & Transform Data: processing.md
    - GroupBy Operation: groupby.md
    - Windows & Aggregations: windowing.md
    - Configuration: configuration.md
  - Advanced Usage:
    - Checkpointing: advanced/checkpointing.md
    - Serialization Formats: advanced/serialization.md
    - Schema Registry: advanced/schema-registry.md
    - Stateful Processing: advanced/stateful-processing.md
    - Managing Kafka Topics: advanced/topics.md
    - Using Producer & Consumer: advanced/producer-consumer-lowlevel.md
    - StreamingDataFrame Assignment Rules: advanced/dataframe-assignments.md
  - Connecting to Quix Cloud: quix-platform.md
  - 'Connectors [beta]':
    -  Sinks:
        - 'connectors/sinks/README.md'
        - CSV Sink: connectors/sinks/csv-sink.md
        - InfluxDB v3 Sink: connectors/sinks/influxdb3-sink.md
        - Creating a Custom Sink: connectors/sinks/custom-sinks.md
    - Sources:
        - 'connectors/sources/README.md'
        - CSV Source: connectors/sources/csv-source.md
        - Kafka Replicator Source: connectors/sources/kafka-source.md
        - Quix Source: connectors/sources/quix-source.md
        - Creating a Custom Source: connectors/sources/custom-sources.md
  - Upgrading Guide:
    - Upgrading from Quix Streams v0.5: upgrading-legacy.md

  - API Docs:
    - StreamingDataFrame API: api-reference/dataframe.md
    - Topics API: api-reference/topics.md
    - Context API: api-reference/context.md
    - Serializers API: api-reference/serialization.md
    - Application API: api-reference/application.md
    - State API: api-reference/state.md
    - Kafka Producer & Consumer API: api-reference/kafka.md
    - Full Reference: api-reference/quixstreams.md
