confluent-kafka[avro,json,protobuf,schemaregistry]>=2.8.2,<2.10
requests>=2.32
rocksdict>=0.3,<0.4
typing_extensions>=4.8
orjson>=3.9,<4
pydantic>=2.7,<2.12
pydantic-settings>=2.3,<2.9
jsonschema>=4.3.0
jsonlines>=4,<5
rich>=13,<14
