testcontainers==3.7.1; python_version < '3.9'
testcontainers==4.5.1; python_version >= '3.9'
pytest
requests>=2.32
docker>=7.1.0 # Required to use requests>=2.32
fastavro>=1.8,<2.0
protobuf>=5.27.2
influxdb3-python>=0.7.0,<1.0
