*.orig
#Ignore Rider files
.idea/
#ignore stored data directories from the test runs

builds/python/**/build-result

# Native stuff
#PythonClient/lib/quixstreaming/native
#CsharpClient/InteropOutput # not yet ignored to allow checking changes
.DS_Store
